PyMySQL
alembic
autogui
beautifulsoup4
fastapi
flask
html5lib
jinja2
loguru
lxml
mysql-connector-python
opencv-python
pandas
pymongo
pytesseract
pytest-playwright
python-dotenv
python-multipart
requests
selenium
sqlalchemy
uvicorn