<!DOCTYPE html>
<html>
<head>
    <title>Form Response</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        .code-block {
            border: 1px solid blue;
            padding: 10px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Form Submitted</h1>
        <div class="code-block">
            <code>Field 1: {{ field1 }}</code><br>
            <code>Field 2: {{ field2 }}</code><br>
            <code>Some template text here...</code>
        </div>
        <button id="copyButton" class="btn btn-secondary mt-3">Copy to Clipboard</button>
    </div>
    <script>
        $(document).ready(function() {
            $('#copyButton').click(function() {
                var text = "Field 1: {{ field1 }}\\nField 2: {{ field2 }}\\nSome template text here...";
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(text).select();
                document.execCommand('copy');
                tempInput.remove();
                alert('Copied to clipboard');
            });
        });
    </script>
</body>
</html>
